<ion-header>
  <ion-toolbar>
    <ion-title>Editar cancion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  ><ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre de la cancion</ion-label>
      <ion-input
        type="text"
        placeholder="Nombre"
        #song_name
        required="true"
        value="{{song.song_name}}"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Artista</ion-label>
      <!-- value="Default value" -->
      <ion-input
        placeholder="Nombre"
        #artist
        required="true"
        value="{{song.artist}}"
      ></ion-input>
    </ion-item>

    <ion-button
      color="primary"
      expand="full"
      (click)="submitForm(song._id, song_name, artist)"
      >Confirm</ion-button
    >
  </ion-list>
</ion-content>
